.btn-bg {
    width: 100px;
    height: 75px;
    border-radius: 13px;
    margin-right: 6px;
}

.bg-one{
    background-image: url('../../public/mountain.jpg') !important;
    background-size: cover;
}

.bg-two {
    background-image: url('../../public/procc.avif') !important;
    background-size: cover;
}
.active-bg {
    border: 3px solid red;
}

.panel-container {
    display: flex;  
}

.flex-item {
    width: 50%;
}

.flex-item:nth-child(2) {
    width: fit-content;
}